* {
    color: #fff;
}
.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.content {
    text-align: center;
}

.title h1 {
    margin: 1.5rem;
    color: #FFC107;
    font-size: 3rem;
    padding: 1rem;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

.cards {
    height: 600px;
    margin: 15px 0;
} 
.portfolio-content {
    padding: 0.5rem;
    width: 100%;
    min-height: 800px;
}

.port-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media(max-width: 800px){
    .title h1 {
        margin: 1rem;
        font-size: 2rem;
    }
}