<div class="wrapper">
    <div class="content">
        <div class="title" data-aos="fade-down">
            <h1>Portfolio</h1>
        </div>
        <div class="portfolio-content">
            <div class="portfolio-item" data-aos="fade-up" >
                <img src="assets/project_1.png" alt="">
                <div class="portfolio-text">
                    <h2>Project 1</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi veniam velit, sit ipsam illo aliquam. Magni, molestiae sunt adipisci aliquid doloremque ab quas eveniet soluta odio voluptates mollitia hic expedita.</p>
                </div>
            </div>
            <div class="portfolio-item" data-aos="fade-up">
                <img src="assets/project_2.png" alt="">
                <div class="portfolio-text">
                    <h2>Project 2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi veniam velit, sit ipsam illo aliquam. Magni, molestiae sunt adipisci aliquid doloremque ab quas eveniet soluta odio voluptates mollitia hic expedita.</p>
                </div>
            </div>
            <div class="portfolio-item" data-aos="fade-up">
                <img src="assets/project_3.png" alt="">
                <div class="portfolio-text">
                    <h2>Project 3</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi veniam velit, sit ipsam illo aliquam. Magni, molestiae sunt adipisci aliquid doloremque ab quas eveniet soluta odio voluptates mollitia hic expedita.</p>
                </div>
            </div>
        </div>
    </div>
</div>