<div class="card-container">
    <div class="card">
        <img [src] = "cardData.imageSource"alt="" class="card-img">
        <div class="descriptions">
            <div class="tag-div">
                <span class="tag" *ngFor="let tag of cardData.tags" [style.background-color]="tag.color">{{ tag.text }}
                </span>
            </div>
            <h1>{{ cardData.title }}</h1>
            <p>{{ cardData.description }}</p>
        </div>
        <div class="btn-container">
            <a [href]="cardData.link" class="github">
                <button class="github-btn"> 
                    <img src="assets/github-mark-white.png" alt="GitHub Logo"> 
                    GitHub
                </button>
            </a>
        </div>
    </div>
</div>