<div class="wrapper" id="#about">
    <div class="wrap-this">
        <div class="title" data-aos="fade-down">
            <h1>{{"ABOUT-ME" | translate}}</h1>
        </div>
            <div class="mid-wrap">
                <div class="image" data-aos="fade-left">
                    <img src="assets/mainPic.jpg" alt="">
                </div>
                <div class="about-content">
                    <div class="about-text">
                        <p data-aos="fade-right">
                            {{"ABOUT-ME-TEXT-1" | translate}}
                        </p>
                        <br>
                        <p data-aos="fade-left">
                            {{"ABOUT-ME-TEXT-2" | translate}}
                        </p>
                        <br>
                        <p data-aos="fade-right">
                            {{"ABOUT-ME-TEXT-3" | translate}}
                        </p>
                        <br>
                </div>
                <ul class="tech-list" data-aos="fade-up">
                    <li>C#</li>
                    <li>ANGULAR</li>
                    <li>SQL</li>
                    <li>PYTHON</li>
                    <li>TYPE SCRIPT</li>
                    <li>ASP.NET CORE</li>
                    <li>WEB API</li>
                </ul>
            </div>
        </div>
    </div>
</div>