<div class="wrapper" id="#about">
    <div class="wrap-this">
        <div class="title" data-aos="fade-down">
            <h1>About Me</h1>
        </div>
            <div class="mid-wrap">
                <div class="image" data-aos="fade-left">
                    <img src="assets/mainPic.jpg" alt="">
                </div>
                <div class="about-content" data-aos="fade-right">
                    <div class="about-text">
                        <p>Hello, I'm Sanjit, currently immersing myself in the world of 
                            software development as I pursue a Data Technician Specialization 
                            in Programming degree. My journey into technology traces back to 
                            my childhood, where I found joy in dissecting gadgets and exploring 
                            their inner workings. It was during the era of Windows XP that my 
                            fascination with technology truly blossomed, fueled by my love for 
                            classic video games like CS 1.6, Prince Of Persia, GTA, and Flash 
                            games in the browser.
                        </p>
                        <br>
                        <p>As I progress through my studies, I find myself drawn deeper into
                            the realms of Desktop and Web Development. Each line of code I 
                            write feels like a piece of a puzzle, fitting together to create 
                            something extraordinary. I'm captivated by the intricate dance 
                            between creativity and logic that defines the world of software 
                            development.</p>
                        <br>
                        <p>With each project and assignment, I strive to expand my knowledge and 
                            refine my skills, always pushing the boundaries of what's possible. 
                            My ultimate goal is to become a proficient software developer, 
                            equipped with the tools to turn ideas into reality and make a 
                            positive impact in the tech community.
                        </p>
                        <br>
                </div>
                <ul class="tech-list" data-aos="fade-up">
                    <li>C#</li>
                    <li>ANGULAR</li>
                    <li>SQL</li>
                    <li>PYTHON</li>
                    <li>TYPE SCRIPT</li>
                    <li>ASP.NET CORE</li>
                    <li>WEB API</li>
                </ul>
            </div>
        </div>
    </div>
</div>