<div class="wrapper" id="#about">
    <div class="wrap-this">
        <div class="title" data-aos="fade-down">
            <h1>About Me</h1>
        </div>
            <div class="mid-wrap">
                <div class="image" data-aos="fade-left">
                    <img src="assets/mainPic.jpg" alt="">
                </div>
                <div class="about-content" data-aos="fade-right">
                    <div class="about-text">
                        <p>Hey there! I'm Sabnjit, currently immersing myself in the world of software development 
                            as I pursue a Datatechnician Specialization in Programming degree. My journey into 
                            technology traces back to my childhood, where I found joy in dissecting gadgets and 
                            exploring their inner workings. It was during the era of Windows XP that my fascination 
                            with technology truly blossomed, fueled by my love for classic video games like CS 1.6, 
                            Prince Of Persia, GTA, and Flash games in the browser.
                        </p>
                        <br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi veniam velit, sit ipsam illo aliquam. Magni, molestiae sunt adipisci aliquid doloremque ab quas eveniet soluta odio voluptates mollitia hic expedita.</p>
                    <br>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci explicabo quia amet, alias soluta, nam nisi nostrum laboriosam id tempora magnam nobis vel temporibus, voluptate ducimus provident natus dignissimos saepe?</p>
                    <br>
                </div>
                <ul class="tech-list" data-aos="fade-up">
                    <li>C#</li>
                    <li>ANGULAR</li>
                    <li>TYPE SCRIPT</li>
                    <li>ASP.NET CORE</li>
                    <li>WEB API</li>
                    <li>SQL</li>
                    <li>PYTHON</li>
                </ul>
            </div>
        </div>
    </div>
</div>