.footer {
    color: #303030; /* Adjust text color as needed */
    padding: 2rem 0;
    text-align: center;
  }
  
  .footer-text {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .social-icon:hover {
    transform: scale(1.2);
  }
  