<footer class="footer" data-aos="fade-up">
    <div class="container">
      <p class="footer-text">{{"FOOTER-TEXT" | translate}}</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/sanjit-poudel/" target="_blank">
          <img src="assets/LI-In-Bug.png" alt="LinkedIn Logo" class="social-icon">
        </a>
        <a href="https://github.com/ChimpChonk" target="_blank">
          <img src="assets/github-mark-white.png" alt="Github Logo" class="social-icon">
        </a>
      </div>
    </div>
</footer>
  