<div id="home" class="home">
    <!-- NAV start-->
    <div class="nav-bar">
        <div class="logo">
            <a href="#home">
                <button class="logo-btn">
                    <div class="logo-content">
                        <h1 class="logo-text">SP</h1>
                    </div>
                </button>
            </a>
        </div>

        <div class="nav-menu">
            <a href="#about">About</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#cv">CV</a>
            <a href="#contact">Contact</a>
        </div>
    </div>

    <!--Nav End-->

    <div class="home-content">
        <div class="home-text">
            <h1 class="intro-text">Hi,</h1>
            <h1 class="intro-text">I'm <span>Sanjit,</span></h1>
            <h1 class="intro-dev">Student Software Developer </h1>
            <p class="intro-text-small">Front End & Back End Developer</p>
            <a href="mailto:sanjit.poudel28@gmail.com">
                <button class="contact-btn">Contact Me</button>
            </a>
        </div>
    </div>
</div>
<app-about id="about"></app-about>
<app-portfolio id="portfolio"></app-portfolio>
<app-cv id="cv"></app-cv>
<app-contact id="app-contact"></app-contact>
<app-footer></app-footer>